<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Usuarios</title>
</head>
<body>
<h1>Usuarios</h1>

<a th:href="@{/users/new}">Crear Nuevo Usuario</a>

<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Correo</th>
        <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.email}"></td>
        <td>
            <a th:href="@{/users/edit/{id}(id=${user.id})}">Editar</a> |
            <a th:href="@{/users/delete/{id}(id=${user.id})}">Eliminar</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
